<div *ngIf="showContent !== true">
<div style="display: flex; justify-content: space-between; width: 60vw;">
  <div class="input-div">
    <label>Technologies used</label>
    <input type="text" [(ngModel)]="techUsed" placeholder="List of technologies/skills" >
  </div>
  <div class="input-div">
    <label>Job position</label>
    <input type="text" [(ngModel)]="jobPosition" placeholder="Position you're applying for" />
  </div>
</div>


<div style="display: flex; justify-content: space-between; width: 60vw;">
  <div class="input-div">
    <label>Description about yourself</label>
    <textarea placeholder="Tell us brief description about yourself" [(ngModel)]="selfDescription"></textarea>
  </div>
  <div class="input-div">
    <label>Projects Completed</label>
    <textarea placeholder="Project A: This project does this and this" [(ngModel)]="projectsCompleted"></textarea>
  </div>
</div>


<div class="input-div">
  <label>Job responsibilities</label>
  <textarea [(ngModel)]="jobResponsibilities" placeholder="List of responibilities listed on the job description:
  - Meeting with the development team to discuss user interface ideas and applications.
  "></textarea>
</div>


<div class="input-div">
<button style="width: 300px; height: 40px; margin-top: 2rem;" (click)="resumeGeneratorStream()">Generate Resume</button>
</div>
</div>
<div *ngIf="showContent" style="border: 1px solid black; width: 90vw; height: 90vh;">
  {{content}}
</div>
<router-outlet></router-outlet>